.App {
  text-align: center;
}

/* loginPage.css */

/* Background light yellow */
body {
  background-color: lightyellow;
}

/* Blue button */
.login-button {
  background-color: blue;
  color: rgb(47, 44, 44);
}

/* Black text */
.text-black {
  color: black;
}
